.home-page {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: #0f0930;
    color: white;

    .details {
        flex: 1;
        height: 100vh;
        padding-left: 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        &--title {
            font-weight: bold;
            font-size: 45px;
        }

        &--body {
            font-size: 23px;
            padding: 15px 0;
        }

        &--sign-in {
            align-self: flex-start;
            cursor: pointer;
            background-color: #4834d4;
            padding: 12px 20px;
            margin-top: 10px;
            border-radius: 4px;
            color: white;
            font-weight: 500;
            font-size: 20px;

            &:hover {
                background-color: #4131b0;
            }
        }
    }

    .news-image {
        flex: 1;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;

    }

    .content-svg {
        width: 35vw;
    }
}

@media only screen and (max-width: 768px) {
    .home-page {
        flex-direction: column;

        .details {
            padding-right: 40px;

            &--title {
                padding-top: 100px;
                margin-right: -10px;
                font-size: 35px;    
            }
        }

        .content-svg {
            width: 300px;
        }
    }
}